@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: lightgray;
  border-radius: 10px;
}
*::-webkit-scrollbar-track {
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.toggled {
  animation: toggle 0.3s linear forwards;
}

.unToggled {
  animation: toggle 0.3s linear reverse;
}

.poster > img:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  filter: brightness(80%);
}

@layer utilities {
  .poster {
    height: 300px;
    width: 150px;
    overflow: hidden ;
  }
  .poster_btn {
    position: absolute;
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50%;
    top: 9rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@keyframes toggle {
  to {
    transform: translateX(15px);
  }
}

@media (min-width: 1024px) {
  * {
    font-size: 1rem;
  }
}
